<div class="container">
  <h1>ALL YOUR TRAVEL PLANS</h1>
  <div class="row">
    <% @travel_plans.each do |travel_plan| %>
    <div class="col-3">
      <div>
        <img src="<%= travel_plan.destination[:picture_url] %>" alt="Picture of <%= travel_plan.destination[:name] %>">
      </div>
      <div>
        <h2><%= travel_plan.start_date.strftime("%d.%m.%Y") %></h2>
        <h2><%= travel_plan.end_date.strftime("%d.%m.%Y") %></h2>
        <h2><%= travel_plan.comment %></h2>
      </div>
    <% end %>
    </div>
  </div>
</div>
