
<div class="banner" style="background-image: linear-gradient(rgba(0,184,138,0.4),rgba(0,0,0,0.4)), url(https://s3-alpha-sig.figma.com/img/f2bf/8302/35b71be6d04e8a2d4f458a71163151f7?Expires=1655078400&Signature=UCg~~zkN~9t4gqF3y1u111TfyYkTnEapV58g9Cz5LFxBQJlHxDPGrZG06wUfzOh90rTB-Trt8GqsS7Gbf0OLP0Zjb0wlCcwfveEBIOmXLmZlF2WZkkCiVzZ5LB0CR3LdSM2zfB7jwU5Jr0wCx6bmvo3-J8UL0hkY8OVBVaw-D52BJnsrMq1ogMA6tzj4~CkvqCvbF9QWYPPgz0cj4b0qOxR3K9PYo9uxkVGtolPLs8lDkW91hx1iUXkHon4Pb-RXMnfTy2g4hUxYxqHif-lgBhczy3bpfjLXMjJnkdFjc-zHFAfNlkxX2ISJlhKbm8xQ9v8HRuSDaO7QSxKNdqh0wA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);">
  <div class="container" id="banner-container">
    <h1>Get away!</h1>
    <h1>Even if you are GROUNDED!</h1>
    <div class="form">
      <%= form_tag destinations_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :search_term,
          params[:search_term],
          class: "form-control",
          placeholder: "Enter start location"
        %>
        <%= select_tag(:max_travel_hours, options_for_select(["Max travel duration (hours)", 1, 2, 3, 4]), class: "form-control") %>
        <%= submit_tag "Search Grounded Trips", class: "button-banner" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
<div class="examples">
  <h2>Destinations near you</h2>
</div>
    <% @destination_instances = Destination.first(12) %>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="destinations">
            <div class="home-p-cards d-flex">
              <% @destination_instances.first(4).each do |dest| %>
                <div class="col-3">
                  <%= link_to destination_path(dest), :action => 'go', :class => "text-decoration-none" do %>
                    <div class="destination-card" style="background-image: linear-gradient(rgba(0,184,138,0.4),rgba(0,0,0,0.4)), url(<%= dest.picture_url %>)">
                      <h3><%= dest.name %></h3>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
        <div class="destinations">
          <div class="home-p-cards d-flex">
            <% @destination_instances.last(4).each do |dest| %>
              <div class="col-3">
                <%= link_to destination_path(dest), :action => 'go', :class => "text-decoration-none" do %>
                  <div class="destination-card" style="background-image: linear-gradient(rgba(0,184,138,0.4),rgba(0,0,0,0.4)), url(<%= dest.picture_url %>)">
                    <h3><%= dest.name %></h3>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div>
    <div class="vp-line">
  </div>

  <div class="row">
    <div class="vp-holder">
      <div class="top-level-vp-container">
        <h1 class="text-align-center vp-header">Stay GROUNDED and explore climate consciously!</h1>
        <div class="vp-q-and-a-holder">
          <div class="col-4">
            <div class="vp-q-holder">
              <div class="vp-q">
                <h1 class="p-4"><i class="fas fa-suitcase-rolling"></i></h1>
                <h2>Like travelling?</h2>
              </div>
              <div class="vp-q">
                <h1 class="p-4"><i class="fas fa-leaf"></i></h1>
                <h2>Care about the environment?</h2>
              </div>
            </div>
          </div>
          <div class="col-1">
            <h1 id="arrow"> <i class="fas fa-chevron-right"></i> </h1>
          </div>
          <div class="col-4">
            <div class="vp-answer">
              <h2>Use GROUNDED</h2>
              <p>Grounded helps you to keep discovering new exciting locations while limiting your carbon footprint!</p>
            </div>
          </div>
        </div>
          <div class="vp-line">
        </div>
        <div class="vp-bottom-half">
          <h1 class="vp-header">We keep you GROUNDED in 3 easy steps!</h1>
          <div class="three-steps-container">
            <div class="col-3">
              <div class="step-card">
              <h1></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--
  <%# <% form_tag(destinations_path, :method => "get") do %>
<form class="form-inline my-2 my-lg-0" action="/destinations" method="post">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search", name: "search>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
-->
