<div class="container">
  <h1>There are <%= @travel_time_data.count %> grounded travel locations within <%= @max_travel_time/3600.to_f %> hours from <%= @city %> </h1>
  <% @travel_time_data.each do |dest| %>
    <% destination_instance = @destinations.find { |i| i.id == dest["id"].to_i } %>
    <h2><%= destination_instance.name %> is <%= dest["properties"][0]["travel_time"]/60 %> minutes from <%= @city %> by car </h2>
  <% end %>
</div>
