<div class="container">

  <% @recommendations.each do |recommendation| %>
    <%= recommendation.name  %>  <br>
    <%= recommendation.rating   %>  <br>
    <%= recommendation.num_reviews   %>  <br>
    <%= recommendation.photo_url   %>  <br>
    <%= recommendation.description   %>  <br>
  <% end %>

<h1>Reviews</h1>
<h3> <% @destination.reviews.each do |review| %>
<%= review.comment %>
<%= review.rating %>
<% end %>
</h3>

<% if @travel_plan %>
<h1>Add Review</h1>
<div class="container-form mt-3" >
      <%= simple_form_for([@travel_plan, @review]) do |f| %>
        <%= f.input :rating %>
        <%= f.input :comment %>
        <%= f.submit "Leave your review here", class: "btn btn-primary" %>
      <% end %>
    </div>
<% end %>
<div>
  <% if user_signed_in? %>
<!-- Button trigger modal -->
    <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add to calender
    </button>

<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Travel Plan</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@destination, @travel_plan_new]) do |f| %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= f.input :comment %>
          <%= f.submit "Create travel plan", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
    </div>
    </div>
  <% else %>
    <%= link_to "Log in", new_user_session_path, class: "button" %>
  <% end %>
</div>
<br>
