

<div class="container">
  <% @recommendations.each do |recommendation| %>
    <%= recommendation.name  %>  <br>
    <%= recommendation.rating   %>  <br>
    <%= recommendation.num_reviews   %>  <br>
    <%= recommendation.photo_url   %>  <br>
    <%= recommendation.description   %>  <br>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "Create travel plan", new_user_session_path, class: "button" %>
  <% else %>
   <%= link_to "Create travel plan", new_user_session_path, class: "button" %>
  <% end %>

</div>
