

<div class="container">
  <% @recommendations.each do |recommendation| %>
    <%= recommendation.name  %>  <br>
    <%= recommendation.rating   %>  <br>
    <%= recommendation.num_reviews   %>  <br>
    <%= recommendation.photo_url   %>  <br>
    <%= recommendation.description   %>  <br>
  <% end %>

 <%= @destination.review %>

<% if @travel_plan %>
<div class="container-form mt-3" >
      <%= simple_form_for([@travel_plan, @review]) do |f| %>
        <%= f.input :rating %>
        <%= f.input :comment %>
        <%= f.submit "Leave your review here", class: "btn btn-primary" %>
      <% end %>
    </div>
<% end %>
<div>
  <% if user_signed_in? %>
    <%= link_to "Create travel plan", new_user_session_path, class: "button" %>
  <% else %>
   <%= link_to "Create travel plan", new_user_session_path, class: "button" %>
  <% end %>
</div>
